[Unit]
Description=Start/Stop TIDE-PROXY SERVICE
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=forking
User=root

ExecStartPre=/bin/bash -c "sudo -S systemctl reset-failed tide_proxy.service || true"

ExecStart=/usr/local/bin/tide_proxy.sh enable
ExecStop=/usr/local/bin/tide_proxy.sh disable

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
