[Unit]
Description=Start/Stop TIDE-PROXY SERVICE
After=network.target

[Service]
Type=simple
User=ubuntu

ExecStart=/home/ubuntu/.nvm/versions/node/v20.18.1/bin/node /repo/tide-proxy/lib/server.js
ExecStop=/bin/kill -TERM $(pgrep -f "/repo/tide-proxy/lib/server.js")

Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
